#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

##############
## Project Specific
##############

# Archives
*.zip
*.lzma
*.xz
*.gz
*.bz2

# Support files that will be recreated by the bootstrap
tinyperl/
support/*.exe
support/*.dll

# Ignore the MSYS dir etc as they will be created from scratch...
msys/
mingw32/
support/bootstrap/.wgetrc
dev.cmd
support/console.xml
home/
local/
