#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

##############
## Project Specific
##############

# Archives
*.zip
*.lzma
*.xz

# Support files that will be recreated by the bootstrap
tinyperl/

# Ignore the MSYS dir etc as they will be created frmo scratch...
msys/
mingw32/
